doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title view engine template
  body
    h5 sever side data #{username} #{designation}    
    p
      | Lorem ipsum dolor sit amet consectetur
      | adipisicing elit. Ipsum laudantium distinctio accusantium amet, consequatur, rerum dolore quaerat
      | dignissimos libero modi nemo quam culpa repellat. Non optio repellat, expedita ipsam nostrum qui enim,z
      | placeat nesciunt sequi excepturi debitis voluptates illo accusamus, voluptatem a impedit quisquam!
      | Quo nobis esse placeat sint expedita atque dolorum totam fugit quisquam nostrum. Ullam blanditiis, rem quasi ipsam aliquid doloribus harum itaque, eos exercitationem ab aspernatur quaerat totam repellat dolores eligendi! Ut illo hic cumque inventore eius minima, commodi quos omnis vitae obcaecati nostrum necessitatibus velit, non quasi tenetur nihil labore, voluptatum dignissimos? Numquam error corporis a sapiente eius accusantium exercitationem ab. Perferendis voluptatem laboriosam veritatis dolore voluptates voluptatibus? Delectus temporibus dignissimos ab culpa quos eveniet dolore, ut illo laboriosam nam totam hic asperiores non tenetur! Perferendis, accusantium aspernatur? Autem nostrum at praesentium fuga qui, minima, doloribus odio aspernatur corrupti vero veniam quam quis ad! Dolores, ipsum!
